  
  h2{
    color: var(--main-header-clear);
  }
  .card{
    background-color: var(--main-card-background-clear);
    color: var(--main-header-clear);
    border: ;
  }

  .card:hover{
    background-color: var(--main-card-background-clear);
    color: var(--main-header-clear);
    transform: scale(1.1);
  }