
.commentsContainer {
  background-color: var(--main-background-color-clear);
  padding-top: 5%;
  padding-left: 0;
}

.commentContainer {
  background-color: var(--main-card-background-clear);
  color: var(--main-text-color-clear);
  border-radius: 2%;
  display: flex;
  align-items: center;
  width: auto;
  margin-bottom: 1%;
  padding: 12px 24px;
}

.commentUser,
.commentScore,
.commentDesc,
.commentDate {
  flex-basis: 100%;
}

@media (width >= 768px) { 
  .commentUser {
    flex-basis: 15%;
  }
  .commentScore {
    flex-basis: 15%;
  }
  .commentDesc {
    flex-basis: 55%;
  }
  .commentDate {
    flex-basis: 15%;
  }
}
@media (width < 768px) {
  .commentContainer {
    flex-direction: column;
  }

  .commentUser,
  .commentScore,
  .commentDesc,
  .commentDate {
    flex-basis: 100%;
  }
}
.commentUser {
  color: var(--main-header-clear);
}

label, h2{
    color: var(--main-text-color-clear);
}
.list-color{
    background-color: var(--main-card-background-clear);
    color: var(--main-text-color-clear);
}

fieldset{
  display: flex;
    align-items: center;
    flex-direction: column;
}
b, h2, label{
  color:var(--main-header-clear)
}
#btnSubmit{
  background-color: var(--main-button-color-clear);
}

#sortIconDate, #sortIconStars {
  width: 2.5rem;
}