body {
    background-color: rgb(3, 163, 163);
}

.divProducto {
    background-color: rgb(3, 3, 57);
    color: white;
    border-color: aqua;
    border-radius: 2%;
}

/** COMIENZA ESTILO DEL BUSCADOR */
#formSearch{
    width: 50%;
}

#botonSearch{
    background-color: rgb(3, 3, 57);
    color: aqua;
}
#botonSearch:hover{
    background-color: coral;
    color:rgb(3, 3, 57);
    transform: scale(1.1);
}

/** FINALIZA ESTILO DEL BUSCADOR */