:root {
  /* variables modo oscuro  */

  --main-background-color-clear: #242629;
  --main-button-color-clear: #7f5af0;
  --main-card-background-clear: #16161a;
  --main-header-clear: #fffffe;
  --main-text-color-clear: #a7a9be;
  --main-secondary-color-clear: #2cb67d;
  --main-tertiary-color-clear: #2cb67d;

  /* variables modo claro  */

  --main-background-color-clear: #fffffe;
  --main-button-color-clear: #6246ea;
  --main-card-background-clear: #d1d1e9;
  --main-header-clear: #2b2c34;
  --main-text-color-clear: #2b2c34;
  --main-secondary-color-clear: #d1d1e9;
  --main-tertiary-color-clear: #e45858;
}
.commentsContainer {
  background-color: var(--main-background-color-clear);
  padding: 32px;
}

.commentContainer {
  background-color: var(--main-card-background-clear);
  color: var(--main-text-color-clear);
  border-radius: 2%;
  display: flex;
  align-items: center;
  width: auto;
  height: 3rem;
  margin-bottom: 1%;
}
.commentUser {
  margin: 1%;  
}
.commentDate {
  margin: 1%; 
}
.commentScore{
    margin: 1%;   
}
.commentDesc{
    margin: 1%;
}
label, h2{
    color: var(--main-text-color-clear);
}
.list-color{
    background-color: var(--main-card-background-clear);
    color: var(--main-text-color-clear);
}

fieldset{
    display: flex;
    align-items: center;
    flex-direction: column;
}