:root{

    /* variables modo oscuro  */
  
    --main-background-color-dark : #0f0e17;
    --main-button-color-dark : #ff8906;
    --main-card-background-dark :#fffffe;
    --main-header-dark :#fffffe;
    --main-text-color-dark : #a7a9be;
    --main-secondary-color-dark : #f25f4c;
    --main-tertiary-color-dark : #e53170;
  
    /* variables modo claro  */
  
    --main-background-color-clear : #fffffe;
    --main-button-color-clear : #6246ea;
    --main-card-background-clear :#d1d1e9;
    --main-header-clear :#2b2c34;
    --main-text-color-clear : #2b2c34;
    --main-secondary-color-clear : #d1d1e9;
    --main-tertiary-color-clear : #e45858;
  
  }
  
body {
    background-color:var(--main-background-color-clear);
}

.divProducto {
    background-color: var(--main-card-background-clear);
    color: var(--main-text-color-clear);
}
/* CARTEL DE "NO SE ENCONTRARON RESULTADOS"  */
#notFound{
    background-color: #212529;
    color: white;
    border-radius: 10px;
    border: solid rgb(191, 2, 2) 1.8px;
    text-align: center;
    font-weight: 600;
    font-size: 120%;
    margin: 01% 20%;
    padding: 04%;
}

/** COMIENZA ESTILO DEL BUSCADOR */
#formSearch{
    width: 50%;
    margin-left: 7%;
    margin-bottom: 1%;
    margin-top: 1%;
}
#inputSearch:hover{
    border: solid var(--main-card-background-clear);
    background-color:  var(--main-background-color-clear);
}
/* 
#botonSearch{
    background-color: rgb(3, 3, 57);
    color: aqua;
}
#botonSearch:hover{
    border: solid rgb(3, 3, 57) 1px;
    color: rgb(3, 3, 57);
    background-color: aqua;
    
} */
/** FINALIZA ESTILO DEL BUSCADOR */

.imagenProducto{
    width: 100%;
    max-width: 275px;
}

  #tituloCategoria {
    margin-top: 0.5%;
    margin-bottom: 0.8%;
    color: var(--main-header-clear);
    font-weight: 500;
    
    text-align: center;
        text-shadow: 
        -1px 0 var(--main-secondary-color-clear), 
        0 2px var(--main-secondary-color-clear),
         1px 0 var(--main-secondary-color-clear),
          0 -1px var(--main-secondary-color-clear);
}

#clearRangeFilter {
    margin-left: 1%;
}
.btn-group-vertical>.btn, .btn-group>.btn {
    background-color: var(--main-button-color-clear);
    color: var(--main-background-color-clear);
}
.btn-group>.btn-check:checked+.btn {
    background-color: var(--main-button-color-clear);
    color: var(--main-background-color-clear);
}

:root:has(.dark-theme){

    --main-background-color-clear : #0f0e17;
    --main-button-color-clear : #ff8906;
    --main-card-background-clear :#fffffe;
    --main-header-clear :#fffffe;
    --main-text-color-clear : #a7a9be;
    --main-secondary-color-clear : #f25f4c;
    --main-tertiary-color-clear : #e53170;
}